################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/libraryProject/FileContentIndex/2ea40e7e-d4fb-4cdd-b227-fd19e28619c5.vsidx
